.page {
  min-height: 100vh;
  background-image: var(--bg-image);
  background-attachment: fixed;
  color: var(--bg-color);
  background-position: center;
  background-size: cover;
  padding: 10px;
  font-size: var(--global-font-size);
}

.header {
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--accent-color);
}

.header__theme-menu-button {
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 1.5px 13px;
  text-transform: lowercase;
}

.header__rec {
  position: absolute;
  top: 0;
  right: 9px;
  color: var(--accent-color);
  line-height: 1.4;
  text-transform: uppercase;

}

.header__rec::after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px #FF0070;
  background: var(--accent-color);
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: 0;
  right: 0;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.header__title {
  align-self: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--accent-color);
  text-transform: lowercase;
  font-weight: 700;
}

.title-decor {
  background-color: var(--accent-color);
  color: #000028;
}

.header__text {
  align-self: center;
  max-width: 491px;
  width: min(355px, 491px);
  line-height: 23.4px;
  font-weight: 700;

}

@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    justify-self: end;
  }

  .page {
    padding: 20px;
  }
}