.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: var(--bg-image);
  background-attachment: fixed;
  color: var(--bg-color);
  background-position: center;
  background-size: cover;
  padding: 10px;
  font-size: var(--global-font-size);
  gap: 40px;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--accent-color);
}

.header__theme-menu-button {
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 1.5px 13px;
  text-transform: lowercase;
}

.header__rec {
  position: absolute;
  top: 0;
  right: 9px;
  color: var(--accent-color);
  line-height: 1.4;
  text-transform: uppercase;

}

.header__rec::after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px #FF0070;
  background: var(--accent-color);
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: 0;
  right: 0;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.header__title {
  align-self: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--accent-color);
  text-transform: lowercase;
  font-weight: 700;
  color: var(--title-color);
}

.title-decor {
  background-color: var(--accent-color);
  color: #000028;
  font-weight: 700;
  line-height: 23.4px;
  font-size: var(--global-font-size);
}

.header__text {
  align-self: center;
  max-width: 491px;
  width: min(355px, 491px);
}

.main {
  display: grid;
  gap: 50px;
}

.main__title {
  color: var(--accent-color);
  font-size: var(--global-font-size);
  line-height: 23.4px;
  font-weight: 700;
}

.section-decor {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.main__text-blocks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-decor-normal-weight {
  font-weight: 400;
}

.main__decrease-concentration .main__text-blocks {
    display: grid;
    gap: 20px;
}

  .main__text-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

.main__text-blocks-link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.main__text-blocks-link:hover {
  border-bottom: 1px solid currentColor;
}

.main__text-blocks-link:focus-visible {
  outline: 1px solid currentColor;
}

.main__pictures-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__pictures {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  width: 100%;
  justify-content: center;
}

.main__picture {
  width: 100%;
  height: auto;
  display: block;
}

.footer {
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  text-shadow: 2px 2px 0 var(--accent-color);
  text-transform: lowercase;
  font-weight: 700;
  color: var(--title-color);
}

@media (min-width: 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    justify-self: end;
  }

  .page {
    padding: 20px;
    gap: 60px;
  }

  .main {
    gap: 80px;
  }

  .section-decor {
    grid-template-columns: 236px 1fr;
  }

  .main__decrease-concentration {
    grid-template-columns: 1fr;
  }

  .main__decrease-concentration .main__title {
    max-width: 236px;
  }
  .main__pictures-section {
    gap: 20px;
  }

  .main__pictures {
    gap: 20px;
    grid-template-columns: repeat(3, minmax(230px, 1fr));
     grid-template-areas:
    "a a b"
    "c d b"
    "c e e";
  }

  .main__picture {
  height: 100%;
  object-fit: cover;
}

  .main__picture:nth-child(1) {
    grid-area: a;
  }

  .main__picture:nth-child(2) {
    grid-area: b;
  }

  .main__picture:nth-child(3) {
    grid-area: c;
  }

  .main__picture:nth-child(4) {
    grid-area: d;
  }

  .main__picture:nth-child(5) {
    grid-area: e;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__text {
    min-width: 491px;
  }

  .section-decor {
    grid-template-columns: 315px 1fr;
  }

  .main__decrease-concentration {
    grid-template-columns: 1fr;
  }

  .main__decrease-concentration .main__title {
    max-width: 315px;
  }

  .main__decrease-concentration .main__text-blocks {
    grid-template-columns: repeat(3, 1fr);
  }
}
