:root {
  --bg-image: url('../images/cover-image-dark.png');
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --accent-color-hover: #FF007066;
  --title-color: #DB00FF;
  --global-font-size: 18px;
}
